<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{image}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="/">Home</a></li>
        <li role="presentation" class="active" ><a href="#">Get</a></li>
        <li role="presentation"><a href="#">Set</a></li>
    </ul>
 
    <img src="/static/image/{{image}}" alt="Hei">
    <p>hello</p>
 
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>